/*
Om du använder Virtual Studio Code så ladda ner en "Color picker" så slipper du googla fram koderna hela tiden.
Jag använder denna: https://marketplace.visualstudio.com/items?itemName=anseki.vscode-color

Mer om färgkoder finns att hitta här: 
https://www.w3schools.com/colors/colors_picker.asp
https://www.w3schools.com/Css/css_colors.asp

*/

body {
    line-height: 1.4;
}

#heading {
    color: rgb(0, 0, 255);
}

.date {
    color: rgb(128, 128, 128);
}

.question {
    color: rgb(128, 0, 0);
}

#introduction {
    color: #008080;
}

h2 {
    color: #ff6347;
}

p {
    color: #808000;
}