body {
    line-height: 1.4;
}

#heading {
    color: rgb(0, 0, 255);
}

.date {
    color: rgb(128, 128, 128);
}

.question {
    color: rgb(128, 0, 0);
}

#introduction {
    color: #008080;
}

h2 {
    color: #ff6347;
}

p {
    color: #808000;
}