/*
Behövs väll inte supermycket förklaring?
Kolla vad som är samma och lägg ihop dem med ett , 

*/

#wrapper {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #f1f1f1;
    border-radius: 2px;
}

#image-container {
    margin: 40px auto;
    text-align: center;
}

img {
    max-width: 200px;
}

#heading {
    font-family: Helvetica;
    color: #000000;
}

.history-paragraph,
.usage-paragraph,
.health-paragraph
 {
    font-family: Georgia;
    color: #3a3a3a;
    line-height: 1.4;
}
#history,
#usage,
#health {
    font-family: Helvetica;
    color: #3a3a3a;
}