#wrapper {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #f1f1f1;
    border-radius: 2px;
}

#image-container {
    margin: 40px auto;
    text-align: center;
}

img {
    max-width: 200px;
}

#heading {
    font-family: Helvetica;
    color: #000000;
}

#history {
    font-family: Helvetica;
    color: #3a3a3a;
}

.history-paragraph {
    font-family: Georgia;
    color: #3a3a3a;
    line-height: 1.4;
}

#usage {
    font-family: Helvetica;
    color: #3a3a3a;
}

.usage-paragraph {
    font-family: Georgia;
    color: #3a3a3a;
    line-height: 1.4;
}

#health {
    font-family: Helvetica;
    color: #3a3a3a;
}

.health-paragraph {
    font-family: Georgia;
    color: #3a3a3a;
    line-height: 1.4;
}