* {
  margin: 0px;
  font: 30px "Bebas Neue";
}

body > div > div {
  width: 500px;
  height: 250px;
  background-color: black;
  color: whitesmoke;  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > div > div:hover {
  background-color: azure;
  color: black;  
}

* {
  transition: background-color 1s, color 1s, opacity 1s;
}

span:first-child { opacity: 1; }
span:last-child { opacity: 0.1; }
body > div > div:hover > p span:first-child  { opacity: 0.1; }
body > div > div:hover > p span:last-child  { opacity: 1; }



.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
