body {
    line-height: 1.4;
}

#heading {
    color: #0000ff;
}

.date {
    color: #808080;
}

.question {
    color: #800000;
}

#introduction {
    color: rgb(0, 128, 128);
}

h2 {
    color: rgb(255, 99, 71);
}

p {
    color: rgb(128, 128, 0);
}