body {
    display: flex;
    justify-content: center;
}

#navigation {
    display: flex;
    height: 150px;
    justify-content: center;
    flex-grow: 1;
    width: 50vw;
    margin: 3% 10%;;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: white;
    text-decoration: none;
    border: 1px solid black;
    background-position: top;
    background-size: cover;
}

.item:hover {
    color: skyblue;
}

#hendrix {
    background-image: url(images/hendrix.jpg);
}

#joplin {
    background-image: url(images/joplin.png);
}

#simone {
    background-image: url(images/simone.jpg);
}