* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

main > svg {
    display:flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 75vh;
}

path:hover {
    fill: blue;
}

svg > svg > g > path:hover{
    stroke: pink;
}