/*Denna är inte helt klar. 
Bållarna ska hålla sig kvar uppe och nere på skärmen, men de gör inte det av någon anledning.
Behövs göras något med en till container kanske? Lite oklart...
*/

:root {
    --body-margin: 20px;
    --sticky-top: 8vh;

}

* {
    margin: 0;
}

body {
    margin: var(--body-margin);
    border: 1px solid white;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,43,255,1) 100%) no-repeat;
}

.empty-space {
    height: 100vh;
}

#ball-space {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    border-radius: 100%;
    flex-grow: 1;
    height: calc((100vw - (var(--body-margin) + 2px)) / 10 );
}

.first {
    position: sticky;
    top: calc(var(--sticky-top) * 0);
}

.second {
    position: sticky;
    top: calc(var(--sticky-top) * 1);
}

.third {
    position: sticky;
    top: calc(var(--sticky-top) * 2);
}

.fourth {
    position: sticky;
    top: calc(var(--sticky-top) * 3);
}

.fifth {
    position: sticky;
    top: calc(var(--sticky-top) * 4);
}

.sixth {
    position: sticky;
    top: calc(var(--sticky-top) * 5);
}

.seventh {
    position: sticky;
    top: calc(var(--sticky-top) * 6);
}

.eightth {
    position: sticky;
    top: calc(var(--sticky-top) * 7);
}

.nineth {
    position: sticky;
    top: calc(var(--sticky-top)*8);
}

.tenth {
    position: sticky;
    top: calc(var(--sticky-top)*9);
}