/*
Jag har skapat en liten knapp först med p
OBS! ANVÄND EGENTLIGEN BARA <button> element om du ska skapa en knapp, annars blir accessibilityn icke-existerande!
*/

p {
    background-color: lightgrey;
    border: 1px solid darkgrey;
    padding: 10px;
    width: 100px;
    text-align: center;
}

/*
Jag skriver in vad exakt det är jag vill ha ändrat, så är det klart :)

Mer info här: https://www.w3schools.com/cssref/sel_hover.asp
*/

p:hover {
    cursor: pointer;
    background-color: grey;
    box-shadow: none;
    border-color: black;
}