* {
    margin: 0;
    box-sizing: border-box;
}

html {
    color: white;
    font-family: sans-serif;
}

body {
    display: grid;
    background-color:darkorange;
    overflow-x: hidden;
    padding-bottom: 100px;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    padding: 20px;
    height: calc(100% - 40px);
}

#header {
    display: flex;
    grid-area: 1 / 1 / span 2 / span 3;
    justify-content: center;
    margin-bottom: 2%;
}

img {
    width: calc(100vw / 5);
    border: 1px solid white;
    min-width: 150px;
}

.item {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-top: 2%;
}

span {
    font-size: 1.2rem;
    margin-top: 2%;
}