* {
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body {
    height: 100vh;
    width: 100vw;
}

#grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
}

.item {
    display: grid;
    background-color: white;
    border: 1px solid black;
    justify-items: center;
    align-items: center;
}

#yellow {
    background-color: yellow;
    grid-area: 2 / 3 / span 3 / span 2;
}

#green {
    background-color: green;
    grid-area: 1 / 1 / span 2 / span 2;
}

#red {
    background-color: red;
    grid-area: 1 / 5 / span 3 / span 1;
}
